<pre style="margin: 0; padding: 0;">
  <span style="font-size: 95%; margin: 0; padding: 0;">
      ⣠⣶⡾⠏⠉⠙⠳⢦⡀⠀⠀⠀⢠⠞⠉⠙⠲⡀⠀
  ⠀⠀⠀⣴⠿⠏⠀⠀⠀⠀⠀⠀⢳⡀⠀⡏⠀⠀⠀⠀⠀⢷
  ⠀⠀⢠⣟⣋⡀⢀⣀⣀⡀⠀⣀⡀⣧⠀⢸⠀⠀⠀⠀⠀ ⡇
  ⠀⠀⢸⣯⡭⠁⠸⣛⣟⠆⡴⣻⡲⣿⠀⣸⠀⠀<strong>OK</strong>  ⡇
  ⠀⠀⣟⣿⡭⠀⠀⠀⠀⠀⢱⠀⠀⣿⠀⢹⠀⠀⠀⠀⠀ ⡇
  ⠀⠀⠙⢿⣯⠄⠀⠀⠀<strong>⢀⡀</strong>⠀⠀⡿⠀⠀⡇⠀⠀⠀⠀⡼
  ⠀⠀⠀⠀⠹⣶⠆⠀⠀⠀⠀⠀⡴⠃⠀⠀⠘⠤⣄⣠⠞⠀
  ⠀⠀⠀⠀⠀⢸⣷⡦⢤⡤⢤⣞⣁⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
  ⠀⠀⢀⣤⣴⣿⣏⠁⠀⠀⠸⣏⢯⣷⣖⣦⡀⠀⠀⠀⠀⠀⠀
  ⢀⣾⣽⣿⣿⣿⣿⠛⢲⣶⣾⢉⡷⣿⣿⠵⣿⠀⠀⠀⠀⠀⠀
  ⣼⣿⠍⠉⣿⡭⠉⠙⢺⣇⣼⡏⠀⠀⠀⣄⢸⠀⠀⠀⠀⠀⠀
  ⣿⣿⣧⣀⣿………⣀⣰⣏⣘⣆⣀⠀⠀
  </span>
</pre>

<div style="font-size: 70%;">
  <p><strong>Nome:</strong> {{ cliente.nome }}</p>
  <p><strong>Email:</strong> {{ cliente.email }}</p>
  <p><strong>Telefone:</strong> {{ cliente.telefone }}</p>
  <p><strong>CPF:</strong> {{ cliente.cpf }}</p>
</div>